# Print Function

In [2]:
num1, num2= 20,30

add= num1+num2

## Print result with string

In [4]:
print ("Addition of", num1, 'and ', num2, 'is', add )

Addition of 20 and  30 is 50

In [5]:
Name= "Aman"
age=30
City="Hyd"

In [6]:
print('Hello, My name is ',Name, ' I am', age, 'years old. I belong to ',City)

Hello, My name is  Aman  I am 30 years old. I belong to  Hyd

In [7]:
num1, num2= 20,30
add= num1+num2

### .format method

In [9]:
print("THe addition of {} and {} is {}".format(num1, num2, add))

THe addition of 20 and 30 is 50

In [10]:
Name= "Aman"
age=30
City="Hyd"

In [11]:
print("My name is {} and I am {} years old and I belong to {}".format(Name, age, City))

My name is Aman and I am 30 years old and I belong to Hyd

## f string method

In [12]:
# Short form format. Variables are defined in curly braces

In [13]:
num1, num2= 20,30
add= num1+num2

In [14]:
print(f"THe sum of {num1} and {num2} is {add}")

THe sum of 20 and 30 is 50

## ENd Statement

In [16]:
print('hello')
print('Good Morning ')

hello
Good Morning

In [17]:
print('hello', end=" ")
print('Good Morning ')

hello Good Morning

In [18]:
print('*', end='')
print('*')

**

## Seperator

In [19]:
print("Hellp", "Hai", "How", "Are", "You", sep="---->")

Hellp---->Hai---->How---->Are---->You