In [4]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

## While loop

In [9]:
i=1

while i<=5:
    print('data science:',i)
    i=i+1

data science: 1
data science: 2
data science: 3
data science: 4
data science: 5

In [8]:
i=5

while i>0:
    print('data science:',i)
    i=i-1

data science: 5
data science: 4
data science: 3
data science: 2
data science: 1

## Nested While

In [10]:
i=1 

while i<=5:
    print("Data Science")
    
    j=1
    while j<=4:
        print('Technology')
        j=j+1
        
    i=i+1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [12]:
i=1 

while i<=5:
    print("Data Science", end="") # when we put end, new line is not created
    
    j=1
    while j<=4:
        print('Technology',end="") # when we put end, new line is not created
        j=j+1
        
    i=i+1
    print()

Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology

In [14]:
i=1
while i<=2:
    j=0
    
    while j<=2:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [16]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j, end= "")
        j+=1
    print()
    
    i+=1

0123
0246
0369
04812

## For Loop

In [19]:
for i in "Aman Deep":
    print("Value of i is:",i)

Value of i is: A
Value of i is: m
Value of i is: a
Value of i is: n
Value of i is:
Value of i is: D
Value of i is: e
Value of i is: e
Value of i is: p

In [22]:
for i in range(1,21):
    print (i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [24]:
for i in range (1,21):
    if i%2 ==0:
        
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [29]:
for i in range (1,21):
    if i%2 !=0:
        
        print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [35]:
for i in range (1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

## Break, Continue and Pass

In [36]:
# I want only 5 numbers 

for i in range (1,11):
    if i==6:
        break
    print(i, end=" ")

1 2 3 4 5

In [38]:
# I want only 5 numbers 

for i in range (1,11):
    if i==6:
        continue
    print(i, end=" ")
    
# 6 is not displayed

1 2 3 4 5 7 8 9 10

In [41]:
for i in range (1,11):
    pass

# Used in abstraction in OOPS concept