<a href="https://colab.research.google.com/github/ArtemisFwl/Expert-Generative-AI-and-Agenetic-Ai-developer/blob/main/EDA/EDA_Raw_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
emp=pd.read_excel("/content/drive/MyDrive/AIML Programs /Rawdata.xlsx")

In [4]:
emp.head()

     Name          Domain       Age   Location   Salary      Exp
0    Mike   Datascience#$  34 years     Mumbai   5^00#0       2+
1  Teddy^         Testing    45' yr  Bangalore  10%%000       <3
2   Uma#r  Dataanalyst^^#       NaN        NaN  1$5%000   4> yrs
3    Jane     Ana^^lytics       NaN   Hyderbad   2000^0      NaN
4  Uttam*      Statistics     67-yr        NaN   30000-  5+ year

In [5]:
emp.isnull().sum()

Name        0
Domain      0
Age         2
Location    2
Salary      0
Exp         1
dtype: int64

In [6]:
emp.isna().sum()

Name        0
Domain      0
Age         2
Location    2
Salary      0
Exp         1
dtype: int64

In [7]:
# Every project comes with a database

In [8]:
emp.columns

Index(['Name', 'Domain', 'Age', 'Location', 'Salary', 'Exp'], dtype='object')

In [9]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6 non-null      object
 1   Domain    6 non-null      object
 2   Age       4 non-null      object
 3   Location  4 non-null      object
 4   Salary    6 non-null      object
 5   Exp       5 non-null      object
dtypes: object(6)
memory usage: 420.0+ bytes

In [10]:
emp.describe()

        Name         Domain       Age Location  Salary Exp
count      6              6         4        4       6   5
unique     6              6         4        4       6   5
top     Mike  Datascience#$  34 years   Mumbai  5^00#0  2+
freq       1              1         1        1       1   1

## Data Cleaning or Data Cleansing

In [11]:
emp['Name']

0      Mike
1    Teddy^
2     Uma#r
3      Jane
4    Uttam*
5       Kim
Name: Name, dtype: object

In [12]:
emp["Name"]=emp["Name"].str.replace(r'\W','', regex=True) # \W means non word characters

In [13]:
emp["Name"]

0     Mike
1    Teddy
2     Umar
3     Jane
4    Uttam
5      Kim
Name: Name, dtype: object

In [14]:
emp["Domain"]=emp["Domain"].str.replace(r'\W','', regex=True) # \W means non word characters

In [15]:
emp["Salary"]=emp["Salary"].str.replace(r'\W','', regex=True) # \W means non word characters

In [16]:
emp.head()

    Name       Domain       Age   Location Salary      Exp
0   Mike  Datascience  34 years     Mumbai   5000       2+
1  Teddy      Testing    45' yr  Bangalore  10000       <3
2   Umar  Dataanalyst       NaN        NaN  15000   4> yrs
3   Jane    Analytics       NaN   Hyderbad  20000      NaN
4  Uttam   Statistics     67-yr        NaN  30000  5+ year

In [17]:
emp["Age"]=emp["Age"].str.replace(r'\W','', regex=True) # \W means non word characters

In [18]:
emp['Age']=emp['Age'].str.extract('(\\d+)')

In [20]:
emp['Exp']=emp['Exp'].str.extract('(\\d+)')

In [28]:
emp.head()

    Name       Domain  Age   Location Salary  Exp
0   Mike  Datascience   34     Mumbai   5000    2
1  Teddy      Testing   45  Bangalore  10000    3
2   Umar  Dataanalyst  NaN        NaN  15000    4
3   Jane    Analytics  NaN   Hyderbad  20000  NaN
4  Uttam   Statistics   67        NaN  30000    5

In [21]:
emp.isnull().sum()

Name        0
Domain      0
Age         2
Location    2
Salary      0
Exp         1
dtype: int64

## EDA

In [22]:
clean_data=emp.copy()

### 1) Missing Vlaue treatment

In [23]:
clean_data['Age']

0     34
1     45
2    NaN
3    NaN
4     67
5     55
Name: Age, dtype: object

In [24]:
import numpy as np

In [25]:
clean_data["Age"]=clean_data["Age"].fillna(np.mean(pd.to_numeric(clean_data["Age"])))

In [26]:
clean_data["Age"]

0       34
1       45
2    50.25
3    50.25
4       67
5       55
Name: Age, dtype: object

In [27]:
clean_data["Exp"]=clean_data["Exp"].fillna(np.mean(pd.to_numeric(clean_data["Exp"])))

In [32]:
clean_data["Location"]=clean_data["Location"].fillna((clean_data["Location"].mode()[0]))

In [33]:
clean_data.head()

    Name       Domain    Age   Location Salary  Exp
0   Mike  Datascience     34     Mumbai   5000    2
1  Teddy      Testing     45  Bangalore  10000    3
2   Umar  Dataanalyst  50.25  Bangalore  15000    4
3   Jane    Analytics  50.25   Hyderbad  20000  4.8
4  Uttam   Statistics     67  Bangalore  30000    5